<footer class="{{ .Site.Params.background_color_class | default "bg-black" }} bottom-0 w-100 pa3" role="contentinfo">

        <div class="flex justify-between">
            <div class="flex justify-between">
                Supported by <a href="https://www.acappella.ee">A'CAPPELLA MUSIC OÜ</a></span>
            </div>        <a class="f4 fw4 hover-white no-underline black dn dib-ns pv2 ph3" href="{{ .Site.BaseURL }}">
            &copy; {{ with .Site.Copyright | default .Site.Title }} {{ . | safeHTML }} {{ now.Format "2006"}} {{ end }}
        </a>
        <div>{{ partial "social-follow.html" . }}</div>
    </div>
</footer>
